@import './mixin.scss';

body {
  @include bg();
  @include flexCenter();

  margin: 0;
  height: 100vh;
  font-family: sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

* {
  color: var(--primary-color);
}

p,
i {
  font-size: 0.8rem;
}
