// ==== background coloring ==== //

@mixin bg {
  background-color: var(--bg);
}

// ==== flex positioning ==== //

@mixin flexCenter($direction: '') {
  display: flex;
  align-items: center;
  justify-content: center;

  @if $direction != '' {
    flex-direction: $direction;
  }
}

// ==== box shadow ==== //

@mixin boxShadow($color: #ccc) {
  box-shadow: 0px 0px 5px 0 #{$color};
}

// ==== border radius ==== //

@mixin borderRadius($radius: 0.25rem) {
  border-radius: #{$radius};
}

// ========== transition ========== //

@mixin transition($value, $dur: 0.5) {
  transition: $value #{$dur}s cubic-bezier(0.3, 1, 0.3, 1);
}
