/* some minimal reusable classes */

.flex-1 {
  flex: 1;
}

.w-100 {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.margin-bottom-34 {
  margin-bottom: 34px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.align-items-center {
  align-items: center;
}
