@import '../../../styles/mixin.scss';

button {
  @include flexCenter();
  @include borderRadius();
  @include transition(box-shadow);

  width: 100%;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  padding: 0.5rem;
  margin-top: 1rem;
  font-size: 0.8rem;
  box-sizing: border-box;
  background-color: var(--primary-color);

  &:focus {
    box-shadow: 0 0 0 3px var(--input-focus-shadow);
  }

  &:disabled {
    opacity: 0.5;
    cursor: wait;
  }
}

.loader {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  margin-left: 0.8rem;
  border: 1px solid #fff;
  animation: spin 1s linear infinite;
  border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
